streamlit==1.38.0

pandas==2.2.2
numpy==2.1.1
scikit-learn==1.6.1
joblib==1.4.2

matplotlib==3.9.2
seaborn==0.13.2
plotly==5.22.0

# shap does NOT support Python 3.13
# reportlab fails to compile on 3.13
