streamlit==1.38.0

pandas==1.5.3
numpy==1.21.6
scikit-learn==1.6.1
joblib==1.4.2

matplotlib==3.8.2
seaborn==0.13.1
plotly==5.18.0

shap==0.42.1
reportlab==3.5.59

email-validator==2.1.0
